In [14]:
# Se importan las librerías
import pandas as pd

from collections import Counter
from imblearn.over_sampling import RandomOverSampler
from imblearn.under_sampling import RandomUnderSampler
from sklearn.utils import resample

In [15]:
# Se cargan los datos
data = pd.read_csv('full_dataset.csv')
data.iloc[0]

on_thyroxine                  0.00
query_on_thyroxine            0.00
on_antithyroid_medication     0.00
thyroid_surgery               0.00
query_hypothyroid             0.00
query_hyperthyroid            0.00
pregnant                      0.00
sick                          0.00
tumor                         0.00
lithium                       0.00
goitre                        0.00
TSH_measured                  0.00
T3_measured                   1.00
TT4_measured                  1.00
T4U_measured                  1.00
FTI_measured                  1.00
age                          72.00
sex                           1.00
TSH                           0.80
T3                            1.00
TT4                          83.00
T4U                           0.95
FTI                          87.00
classes                       1.00
Name: 0, dtype: float64

In [16]:
# Se hace un conteo de muestras por clases
data.classes.value_counts()

0    2870
1     293
Name: classes, dtype: int64

In [17]:
# Se separan los datos en conjuntos por clase
major_class = data[data.classes == 0]
minor_class = data[data.classes == 1]

In [18]:
# Se hace un sobremuestreo sobre la clase minoritaria
minor_class_upsampled = resample(minor_class, replace=True, n_samples=350, random_state=42)

In [19]:
# Se unen los conjuntos en un nuevo conjunto único de clases
data_new = pd.concat([major_class, minor_class_upsampled])

In [20]:
# Se separa conjunto de características
features = data_new.iloc[:, 0:-1]
features.head()

,on_thyroxine,query_on_thyroxine,on_antithyroid_medication,thyroid_surgery,query_hypothyroid,query_hyperthyroid,pregnant,sick,tumor,lithium,...,TT4_measured,T4U_measured,FTI_measured,age,sex,TSH,T3,TT4,T4U,FTI
293,0,0,0,0,0,0,0,0,0,0,...,1,1,1,20,0,0.5,1.8,68.0,0.99,68.0
294,0,0,0,0,0,0,0,0,0,0,...,1,1,1,29,0,1.2,2.5,83.0,0.93,89.0
295,0,0,0,0,0,1,0,0,0,0,...,1,1,1,66,0,3.1,1.7,76.0,0.83,92.0
296,0,0,0,0,0,0,0,0,0,0,...,1,1,1,62,1,0.4,2.2,103.0,0.99,104.0
297,0,0,0,0,0,0,0,0,0,0,...,1,1,1,72,0,0.0,1.5,66.0,0.97,69.0

In [21]:
# Se separa conjunto de etiquetas
target = data_new.iloc[:, -1]
target.head()

293    0
294    0
295    0
296    0
297    0
Name: classes, dtype: int64

In [22]:
# Se hace sub muestreo de conjunto mayoritario
rus = RandomUnderSampler(random_state=0)
features_resampled, target_resampled = rus.fit_resample(features, target)
print('Resampled dataset shape %s' % Counter(target_resampled))

Resampled dataset shape Counter({0: 350, 1: 350})